h1 {
    color: blue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.importante {
    color: red;
}

.destaque {
    background-color: yellow;
}

button:hover {
    background-color: red;
}

.senha {
    border: 2px solid blue;
}